@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
* {
	margin: 0;
	padding: 0;
	outline: 0;
}


/*=== new font====*/

@font-face {
 font-family: 'proxima_nova_cn_rgregular';
 src: url('../fonts/proximanovacond-regular.eot');
 src: url('../fonts/proximanovacond-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanovacond-regular.woff2') format('woff2'),  url('../fonts/proximanovacond-regular.woff') format('woff'),  url('../fonts/proximanovacond-regular.ttf') format('truetype'),  url('../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'proxima_novasemibold';
 src: url('../fonts/proximanova-semibold.eot');
 src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-semibold.woff2') format('woff2'),  url('../fonts/proximanova-semibold.woff') format('woff'),  url('../fonts/proximanova-semibold.ttf') format('truetype'),  url('../fonts/proximanova-semibold.svg#proxima_novasemibold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'proxima_novasemibold';
 src: url('../fonts/proximanova-semibold.eot');
 src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-semibold.woff2') format('woff2'),  url('../fonts/proximanova-semibold.woff') format('woff'),  url('../fonts/proximanova-semibold.ttf') format('truetype'),  url('../fonts/proximanova-semibold.svg#proxima_novasemibold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'proxima_novaregular_italic';
 src: url('../fonts/proximanova-regularitalic.eot');
 src: url('../fonts/proximanova-regularitalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-regularitalic.woff2') format('woff2'),  url('../fonts/proximanova-regularitalic.woff') format('woff'),  url('../fonts/proximanova-regularitalic.ttf') format('truetype'),  url('../fonts/proximanova-regularitalic.svg#proxima_novaregular_italic') format('svg');
 font-weight: normal;
 font-style: normal;
}


/*=== new font====*/

