<ion-view cache-view="false">
  <!--  <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'"></div> 

	
      </ion-nav-buttons>
    <ion-nav-title class="title_service">Change Password
  </ion-nav-title>-->
    <ion-content>
      <div ng-include="'templates/searchbox_2.html'" ng-controller="searchBoxCtrl"></div> 
        <br/> <br/>
		<form name="myForm_password" id="myForm_password">
        
		 <div class="rate_service">
            <div class='services_color' style="text-align:left;">Old password</div>
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <input type="password" name="uname" id="uname" ng-model='users.old'  style="color:black;height:25px;" required>
	 </div>
	</div>
        </div>
		
		
		 <div class="rate_service">
            <div class='services_color' style="text-align:left;">New password</div>
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <input type="password" name="uname" id="uname" ng-model = 'users.new' required style="color:black;height:25px;">
	 </div>
	</div>
        </div>
		
		
		<div class="rate_service">
            <div class='services_color' style="text-align:left;">Confirm password</div>
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <input type="password" name="uname" id="uname" ng-model = 'users.confirm' required compare-to="users.password" style="color:black;height:25px;">
	 </div>
	</div>
        </div>
		
		
		
		
		
		  <div class="rate_service">
		  <div class="row" style="padding-left:0px;">
		         <button class="button button-full button-custom auction_cut fontsforweb_fontid_12950" ng-click="changePassword()" style="border-radius:0px !important;">
             Submit
             </button>
		 </div>
		
		  </div>
		
		  </form>
	
                                    </ion-content>
                                    <style>
.selected-class-name {
  color: red !important;
}
.back_grey
{
background:#E3E3E3;
    margin: 0 0 0 5px;
    width: 83px;
}


</style>
                                </ion-view>
