	
	
	
	 <ul ng-if="useremail!=null">
	 
	  <!-- <li class="ion-ios-search" data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin: 6px 0 0 42px;
    float: left;" ng-controller="searchBoxCtrl" ng-click="search()"></li>-->
	   <li class="ion-android-notifications pic" data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin-left: 75px;
    margin-top: 6px;
    float: left;" ></li>
    <div class="notify" ng-click="Notification()"style="left:77px !important;" ng-if="counter!= null&&counter!=0">{{counter}}</div>
	 
	 	 

	 

	
	
<!--	<li data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin-right: 12px;
    margin-top: 6px;
    float: left;" ng-click="jobs()"><img ng-src="img/asset/jobs.png" style="width:21px;"> </li>
	<!--<img ng-src="img/asset/jobs.png">-->
	
	
	<!--<li class="ion-person pic" data-tags="on, off" data-pack="default" style="font-size: 23px;
    color: white;
    margin-right: 30px;
    margin-top: 6px;
    float: left;"  ng-click="popover.show($event)" ></li>-->
    
     
    
  </ul>

  
  	 <ul ng-if="useremail==null">
	 
	 <a href="#/login">
  <li class=" pic"  data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin-right: 0px;
	margin-left:24px;
    margin-top: 27px;
    float: left;" ></li></a>
    
    
    
  </ul>
  
    
