<ion-view>
    
  
<ion-nav-bar class="bar-positive nav-title-slide-ios7">
     	 <ion-nav-buttons side="left">
	<a href="#/services"> <img class="title-image" src="img/asset/headerCity.png" style="width: 100px;
height: 25px;
margin: 5px 0 0 8px" /></a>
	 </ion-nav-buttons>
    <ion-nav-buttons side="right">
 
   <!-- Toggle left side menu -->
    <div ng-include="&apos;templates/power.html&apos;" ng-controller="power2Ctrl"></div> 
   <button menu-toggle="right" style="margin-left: 106px !important;
    top: -36px;" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

	  </ion-nav-bar>
    <ion-content >
      <div ng-include="'templates/searchbox_2.html'" ng-controller="searchBoxCtrl"></div> 
       <!-- <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
        
            <hr>-->
                <div ng-if="tab=='first'">
                    <div class="card user_wrap my_greenpal">
                        <div class="wrap_avatar_greenpal" ng-if="!imgURI" >
                            <img src="img/asset/admin.jpg" style="left:0px;" ng-click="pic()">
                               <!-- <h2 class="fontsforweb_fontid_12950">$55</h2>-->
                            </div>
                            <div class="wrap_avatar_greenpal"  ng-if="imgURI">
                            <img ng-src="{{imgURI}}" style="left:0px;" ng-click="pic()">
                               <!-- <h2 class="fontsforweb_fontid_12950">$55</h2>-->
                            </div>
                             
                            
                            <div class="wrap_rating fontsforweb_fontid_12950">
							<div class="peach_head">
                                    <h4>{{userInfo.full_name}}</h4>
                                </div>
                                <div>{{userInfo.address}},{{userInfo.locationname}}</div>
								<div>{{userInfo.cityname}}</div>
							
								<div>{{userInfo.phone}}</div>
								<div>{{userInfo.email}}</div>
 

                                
                                <!--<div class="rate_user">
                                    <rating ng-model="rate" max="max" readonly="true"></rating>
                                </div>
                                <div>({{rate}} Avg.)</div>-->
                            </div>
                        </div>
                        

                                  <!--  <div class="content_lower_wrap">
                                        <a class="fontsforweb_fontid_12950">
           Not happy with your current work?
        </a>
                                    </div>-->
                                </div>
                             
							   <div class="" style="text-align:center;">
                                    <button ng-click="gotourl('edit_info')" class="button button-full button-custom schedule_cut fontsforweb_fontid_12950" style="margin-top:20px;">
           Edit Information
        </button>
		 <div style="clear:both;"></div>
                                <div style="color: white;
    width: 100%;
    float: left;
    text-align: center;"> -OR-</div>
                                    <button ng-click="gotourl('change_password')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950" style="border: 1px solid #fff;">
           Change Password
        </button>
                                </div>
							  
							  
							  
							  <style>
							  .wrap_avatar_greenpal > img {
position: relative;
bottom: 40px;
border-radius: 0px !important; 
left: 46px;
width: 26%;
overflow: hidden;
z-index: 2222;
}
							  </style>
							  
							  
                                </ion-content>
                            </ion-view>
