<ion-view>
<ion-view>
    
  
<ion-nav-bar class="bar-positive nav-title-slide-ios7">
     	 <ion-nav-buttons side="left">
	<a href="#/services"> <img class="title-image" src="img/asset/headerCity.png" style="width: 100px;
height: 25px;
margin: 5px 0 0 8px" /></a>
	 </ion-nav-buttons>
    <ion-nav-buttons side="right">
 
   <!-- Toggle left side menu -->
    <div ng-include="&apos;templates/power.html&apos;" ng-controller="power2Ctrl"></div> 
   <button menu-toggle="right" style="margin-left: 106px !important;
    top: -36px;" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

	  </ion-nav-bar>
    <ion-content>
        <div class="main_nee">
           <div ng-include="'templates/searchbox_2.html'" ng-controller="searchBoxCtrl"></div> 
            <div class="card user_wrap">
           
                <div class="wrap_avatar" style="height:auto;">
                    <img ng-if="businessDetail.business_img!=null" src="http://incitysearch.com/uploads/businesses/{{businessDetail.business_img}}" alt="">
                    <img ng-if="businessDetail.business_img==null" src="http://incitysearch.com/uploads/businesses/default_business.jpg"" alt="">
                    
                        <h2 class="fontsforweb_fontid_12950" style="margin-top: -64px;text-transform:capitalize">{{businessDetail.categoryname}}</h2>
                         <div class="rate_user" style="text-align:center;">
                           <h4 class="cur_bid" style="color:#EAA528;margin-top:-18px !important;text-transform: capitalize;">{{businessDetail.businessname}}</h4>  
                        </div>
                        <div class="wrap_rating" style="">
                       
                             <div class="outers" style="margin-bottom:22px;text-align:left;margin-left:16px;">
                                   <div style="margin-bottom:3px;">
                                     <!-- <i class="ion-location iFont"></i>-->
                                      <div>{{businessDetail.address | limitTo: 30}}{{businessDetail.address.length > 30 ? '...' : ''}}</div>
                                    </div>
                                    <div style="margin-bottom:3px;">
                            
                                         <span>{{businessDetail.locationame}}, {{businessDetail.cityname}}, {{businessDetail.pincode}}</span>
                                     </div>
                                       <div ng-if="businessDetail.mobile1!=''" style="margin-bottom:3px;">
                            
                                         <span> {{mobile1}}</span>
                                     </div>
                                     <div ng-if="businessDetail.landline1!=''" style="margin-bottom:3px;">
                            
                                         <span>{{landline1}}</span>
                                           <span ng-if="businessDetail.landline2!=''">, {{landline2}}</span>
                                     </div>
                                    <div style="margin-bottom:3px;"> 
                            
                                       <span>{{businessDetail.country}}</span>
                                   </div>
                                   
                                       <div style="margin-bottom:0px;">
                            
                                       <span>India</span>
                                   </div>
                                   <div style="margin-left:-14px;">
                                   <div class="row" style="width:41% !important;">
                                   <div class="col">
                                   <i class="fa fa-facebook fa-3 disabledIon" ng-if='businessDetail.website==null'></i>
                                      <i class="fa fa-facebook fa-3 " ng-if='businessDetail.website!=null'></i>
                                  <!-- <img ng-if='businessDetail.website!=null' src="img/asset/fb.png">
                                    <img ng-if='businessDetail.website==null' src="img/asset/fb.png" class="disable_ions">-->
                                   
                                   </div>
                                  <div class="col" >
                                 <i class="fa fa-google-plus fa-3 disabledIon" ng-if='businessDetail.website==null'></i>
                                    <i class="fa fa-google-plus fa-3 " ng-if='businessDetail.website!=null'></i>
                                  <!-- <img ng-if='businessDetail.website!=null' src="img/asset/tw.png">
                                    <img ng-if='businessDetail.website==null' src="img/asset/tw.png" class="disable_ions">-->
                                   
                                   </div>
                                 <div class="col">
                                   <i class="fa fa-twitter fa-3 disabledIon" ng-if='businessDetail.website==null'></i>
                                     <i class="fa fa-twitter fa-3 " ng-if='businessDetail.website!=null'></i>
                                 <!--  <img ng-if=businessDetail.website!=null' src="img/asset/gg.png">
                                    <img ng-if='businessDetail.website==null' src="img/asset/gg.png" class="disable_ions">-->
                                   </div>
                                   
                                           <div class="col"> 
                                   <i class="fa fa-pinterest-p fa-3 disabledIon" ng-if='businessDetail.website==null'></i>
                                    <i class="fa fa-pinterest-p fa-3 " ng-if='businessDetail.website!=null'></i>
                                          </div>
                                   
                                   </div>
                                   
                                   <div class="col" style="margin-left:8px;">
                                  <p> <i class="fa fa-globe fa-3 disabledIon" ng-if='businessDetail.website==null'></i></p>
                                   <p ng-if='businessDetail.website!=null'>   <i class="fa fa-globe fa-3 " ></i> {{businessDetail.website.split('http://')[1]}}
                                   </p>   
                                 <!-- <p ng-if='businessDetail.website!=null'> <img  src="img/asset/website.png" style="width:31px !important;" onclick="window.open('businessDetail.website', '_system', 'location=yes'); return false;"><span style="position: relative;
top: -11px;left: 10px;">:{{businessDetail.website}}</span></p>
                                   <p ng-if='businessDetail.website==null'> <img  src="img/asset/website.png" class="disable_ions" style="width:31px !important;"></p>-->

                                   </div>
                                   </div>
                                   
                                   
                             </div>
                                          <!--  <div class="verify" style="float:right;">
                                        <img src="img/asset/verify.jpg" style="width:60px;">
                    
                                        </div>-->
                       </div>


                </div>
                
               
                </div>
                </div>
                <div class="vendor_work fontsforweb_fontid_12950">
                    <h2> Location On Map </h2>
                    <div class="card">
                  <div id="map" style="width: 400px; height: 300px"></div>  
                  
                  </div>
                </div>
                <!-- <div class="bar" style="background:transparent;">-->
                <!--  </div>-->
          
        </ion-footer-bar>
		
		<style>
		.disabledIon
		{
		color: grey;
font-size: 20px !important;
}
		}
.iFont
{
font-size:17px;
}
		</style>
    </ion-content>
</ion-view>
