<ion-view  cache-view="false">
    <!--<ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'"></div> 

	
      </ion-nav-buttons>
    <ion-nav-title class="title_service">Edit Information
  </ion-nav-title>-->
  
    <ion-content>
    
    <div class="logo_align" style="margin-top:8% !important;">
            <img ng-src="img/asset/incity.png">
            </div>
               <div ng-include="'templates/searchbox_2.html'" ng-controller="searchBoxCtrl"></div> 
        <br/>
		<form name="myForm" id="form11">
		
		
		
		
				  <div class="list custom-form">
            <div class="row" style="padding-left:0px;">
            
			<div class="sel">
	<!-- <i class="ion-ios-telephone" style="height: 27px;
    width: 20px;
    float: left;
    margin-right: 0px;
    /* background-size: 25px 25px; */
    position: absolute;
    left: 0;
    
    margin-left: 8px;
    color: #EAA528;font-size:20px"></i>-->
	  <input type="text" name="mobile" id="mobile"  placeholder=" Your Mobile No."  style="color:black;height:25px;" ng-model="orginal.mobile">
	 </div>
	</div>
        </div>		
		
        <div class="list custom-form">
           
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <input type="text" name="uname" id="uname" placeholder=" Name" ng-model="orginal.name" required style="color:black;height:25px;">
	 </div>
	</div>
        </div>
		
		  <div class="list custom-form">
            
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <input type="email" name="email" id="email_id" ng-model="orginal.email" placeholder=" Email Id" required style="color:black;height:25px;">
	 </div>
	</div>
        </div>
		

       
		   <div class="list custom-form">
                         <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <textarea name="address" id="address" placeholder=" House No, Flat No..." ng-model="orginal.address" required style="color:black;height:50px;"></textarea>
	 </div>
	</div>
        </div>
		
		<div class="list custom-form">
            
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
	  <select name="cities" ng-model="selectedColor" ng-options="cities as cities.name for cities in city" ng-init="selectedColor = check(selected,cities)" ng-change="setcities(selectedColor)" style="width:100%;height:25px;" required >
                <option value="" disabled selected>Select A City</option>
            </select>
	 </div>
	</div>
        </div>
	
		
		  <div class="list custom-form">
           
            <div class="row" style="padding-left:0px;">
			<div class="sel">
	 
			<select name="locations" ng-model="selectedColors" ng-options="locations as locations.name for locations in location" ng-init="selectedColors = check(selected,locations)" ng-change="setlocations(selectedColors)" style="width:100%;height:25px;"  required>
                <option value="" disabled selected>Select A Location</option>
            </select>	  

	  </div>
	</div>
        </div>
		
		
		 	
		
		
		  <div class="list custom-form">
		  <div class="row" style="padding-left:0px;">
		         <button class="button button-full button-custom  fontsforweb_fontid_12950" ng-click="register()" style="border-radius:0px !important;">
             Register
             </button>
		 </div>
		
		  </div>
		  </form>
	
                                    </ion-content>
                                    <style>
.selected-class-name {
  color: red !important;
}
.back_grey
{
background:#E3E3E3;
    margin: 0 0 0 5px;
    width: 83px;
}


</style>
                                </ion-view>
