 <ion-view title="Dashboard">
   <ion-nav-buttons side="left">
     <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header has-footer">
  
 <div class="card">       <!-- /.row -->
  <div class="row customalign"  ng-if="result">
       <div class="col-lg-12">
            <div class="alert alert-info ">                            
                {{result}} <i class="icon ion-ios7-information"></i> <a class="button button-small icon-right  button-dark" href="#/app/register">Add record</a>
             </div>
        </div>
   </div>
                <!-- /.row -->

      <div class="panel panel-success" ng-if="!result" ng-hide="hidetemp">
  <!-- Default panel contents -->
      <div class="panel-heading"> <i class="icon ion-model-s"></i> Result </div>
      <div class="panel-body"  ng-repeat="vehicle in vehicles" ng-if="!vehicles.owners">
               <div class="row customalign">
                <div class="col-head"><strong>VIN:</strong></div>
                  <div class="col-value">{{vehicleall.id}}<a href="#/app/vehicle/{{vehicle.id}}">
        {{vehicle.vin_number}}</a></div>
               </div>
              <div class="row customalign" >
                <div class="col-head"> <strong>Make:</strong> </div>
                  <div class="col-value">{{vehicle.model_make_id}}</div>
               </div>
                   
              <div class="row customalign" >
                <div class="col-head"><strong>Model:</strong> </div>
                  <div class="col-value">{{vehicle.model_name}}</div>
              </div>
                
              <div class="row customalign" >
                <div class="col-head"> <strong>Color:</strong></div>
                  <div class="col-value">{{vehicle.color}}</div>
              </div>
                
              <div class="row customalign" ng-repeat="(key ,value) in vehicle.owner.name ">
                <div class="col-head"><strong>Owner <span ng-if="vehicle.owner.name.length > '1'">{{$index +1}}</span>:</strong></div>
                  <div class="col-value uppercase">{{value | toupperCase}}</div>
              </div>
              <div class="row customalign" >
              <a href="#/app/vehicle/{{vehicle.id}}" class="button button-small icon-right  button-positive" style="float:right;" >View <i class="big_icon_view ion-android-arrow-forward"></i></a>
            </div>

      </div>
      <div class="panel-body"  ng-repeat="vehicle in vehicles.auth" >
               <div class="row customalign">
                <div class="col-head"><strong>VIN:</strong></div>
                  <div class="col-value">{{vehicleall.id}}<a href="#/app/vehicle/{{vehicle.id}}">
        {{vehicle.vin_number}}</a></div>
               </div>
              <div class="row customalign" >
                <div class="col-head"> <strong>Make:</strong> </div>
                  <div class="col-value">{{vehicle.model_make_id}}</div>
               </div>
                   
              <div class="row customalign" >
                <div class="col-head"><strong>Model:</strong> </div>
                  <div class="col-value">{{vehicle.model_name}}</div>
              </div>
                
              <div class="row customalign" >
                <div class="col-head"> <strong>Color:</strong></div>
                  <div class="col-value">{{vehicle.color}}</div>
              </div>
                
              <div class="row customalign" ng-repeat="(key ,value) in vehicle.owner.name ">
                <div class="col-head"><strong>Owner <span ng-if="vehicle.owner.name.length > '1'">{{$index +1}}</span>:</strong></div>
                  <div class="col-value uppercase">{{value | toupperCase}}</div>
              </div>
              <div class="row customalign" >
                <div class="col-head"> <strong> Driver:</strong></div>
                  <div class="col-value">Authorised</div>
              </div>
          <div class="row customalign" >
            <a href="#/app/vehicle/{{vehicle.id}}" class="button button-small icon-right  button-positive" style="float:right;">View <i class="big_icon_view ion-android-arrow-forward"></i></a>
          </div>

      </div>
      <div class="panel-body"  ng-repeat="vehicle in vehicles.owners">
               <div class="row customalign">
                <div class="col-head"><strong>VIN:</strong></div>
                  <div class="col-value">{{vehicleall.id}}<a href="#/app/vehicle/{{vehicle.id}}">
        {{vehicle.vin_number}}</a></div>
               </div>
              <div class="row customalign" >
                <div class="col-head"> <strong>Make:</strong> </div>
                  <div class="col-value">{{vehicle.model_make_id}}</div>
               </div>
                   
              <div class="row customalign" >
                <div class="col-head"><strong>Model:</strong> </div>
                  <div class="col-value">{{vehicle.model_name}}</div>
              </div>
                
              <div class="row customalign" >
                <div class="col-head"> <strong>Color:</strong></div>
                  <div class="col-value">{{vehicle.color}}</div>
              </div>
                
              <div class="row customalign" ng-repeat="(key ,value) in vehicle.owner.name ">
                <div class="col-head"><strong>Owner <span ng-if="vehicle.owner.name.length > '1'">{{$index +1}}</span>:</strong></div>
                  <div class="col-value uppercase">{{value | toupperCase}}</div>
              </div>
              <div class="row customalign" >
                <div class="col-head"> <strong> Driver:</strong></div>
                  <div class="col-value">Owner</div>
              </div>
              <div class="row customalign" >
              <a href="#/app/vehicle/{{vehicle.id}}" class="button button-small icon-right  button-positive" style="float:right;">View <i class="big_icon_view ion-android-arrow-forward"></i></a>
            </div>
      </div>
    </div>  
     
     <div class="panel panel-info">

          <div class="panel-heading">
                  <h3 class="panel-title">Search vehicle </h3>
             </div>

      <form method="post" name="vehiclesearch"  ng-submit="searchevehicle()">
          <label class="item item-input">
               <i class="icon ion-search placeholder-icon"></i>
               <input type="search"  ng-change="watchfield('1')" ng-model="vehicle.reg_number" placeholder="Vehicle Registration Number">
          </label>
           <label class="item item-input ">
               <i class="icon ion-search placeholder-icon"></i>
               <input type="search"  ng-change="watchfield('2')"  ng-model="vehicle.lic_number" placeholder="Licence Plate Number">
          </label>
           <label class="item item-input">
               <i class="icon ion-search placeholder-icon"></i>
               <input type="search"  ng-change="watchfield('3')"  ng-model="vehicle.sticker_number" placeholder="Sticker Serial Number">
          </label>
         <label class="item item-input">
               <i class="icon ion-search placeholder-icon"></i>
               <input type="search"  ng-change="watchfield('4')"  ng-model="vehicle.driver_lic_number" placeholder="Driver License number">
          </label>
            <div class="row customalign">
              <button class="button  button-block button-positive" type="submit">Search</button>
           </div>     
         </form>
    </div>

 </div>
  </ion-content>
   <div class="tabs tabs-positive tabs-icon-only">
            <a class="tab-item"  href="#/app/search/vehicle">
              <i class="icon ion-model-s"></i>
            </a>
           
            <a class="tab-item" href="#/app/fines">
              <i class="icon ion-clipboard"></i>
            </a>
     </div>
</ion-view>
    
