<ion-view title="Vehicle and Driver Detail">
   <ion-nav-buttons side="left">
     <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header  has-footer">
            <div class="list-group">
               <div class="row">
				 <div class="col-xs-6 strip">
				 	  <div class="strip" ng-class="{Current:vehicledetail.vehicle.vehicles_status_name=='Current',Expired:vehicledetail.vehicle.vehicles_status_name=='Expired',Cancelled:vehicledetail.vehicle.vehicles_status_name=='Cancelled',Suspended:vehicledetail.vehicle.vehicles_status_name=='Suspended',Accident:vehicledetail.vehicle.vehicles_status_name=='Accident',Stolen:vehicledetail.vehicle.vehicles_status_name=='Stolen'}"> Vehicle Status : {{vehicledetail.vehicle.vehicles_status_name}} </div>

				      <div class="strip" ng-if="vehicledetail.vehicle.fines.length > '0'" ng-repeat="fine in vehicledetail.vehicle.fines"> {{fine.code}} - {{fine.created_at |asYear|  date:'MMM d, y'}} </div>
				   <!--   <div class="strip" ng-if="vehicledetail.vehicle.fines.length == '0'"> No fine issued till now</div> -->
				 </div>
				 <div class="col-xs-6 strip" ng-repeat="owner in vehicledetail.vehicle.owners">
				   <div ng-class="{Current:owner.status=='Current',Warning:owner.status=='Warning',Suspended:owner.status=='Suspended',Revoked:owner.status=='Revoked'}" class="strip"> Driver Status : {{owner.status}}</div>
				   <div class="strip name_owners"><i class="icon ion-ios7-person-outline"></i> {{owner.drivers_fname}} {{owner.drivers_lname}}</div>
				   <div class="strip" ng-repeat="fine in owner.fines" ng-if="owner.fines.length">{{fine.code}} - {{fine.created_at | asYear |date:'MMM d, y'}}</div>
				  <!-- <div ng-if="!owner.fines.length" class="strip"> No fine issued till now</div>-->
				  
				</div>
		         <div class="col-xs-6 strip" ng-repeat="owner in vehicledetail.vehicle.authorized_drivers">
				   <div ng-class="{Current:owner.status=='Current',Warning:owner.status=='Warning',Suspended:owner.status=='Suspended',Revoked:owner.status=='Revoked'}" class="strip"> Driver Status : {{owner.status}}</div>
				   <div class="strip name_owners"><i class="icon ion-ios7-people-outline"></i> {{owner.drivers_fname}} {{owner.drivers_lname}}</div>
				   <div class="strip" ng-repeat="fine in owner.fines" ng-if="owner.fines.length">{{fine.code}} - {{fine.created_at | asYear |date:'MMM d, y'}}</div>
				<!--   <div ng-if="!owner.fines.length" class="strip"> No fine issued till now</div>-->
				  
				</div>
		        </div>
   </div>
		       
 <!-- registration vehicle -->
  <div class="panel panel-primary" ng-if="vehicledetail.vehicle.registration.id"  >
  <!-- Default panel contents -->
		  <div class="panel-heading"  ng-click="toggleGroup(vehicledetail.vehicle.registration.id)"
                    ng-class="{active: isGroupShown(vehicledetail.vehicle.registration.id)}">
              <i class="icon" ng-class="isGroupShown(vehicledetail.vehicle.registration.id) ? 'ion-minus' : 'ion-plus'"></i> <i class="icon ion-document-text"></i> Vehicle Registration Info</div>
		  <div class="panel-body  item-accordion" ng-show="isGroupShown(vehicledetail.vehicle.registration.id)">
            
        
					<!--	<div class="row" ng-if="key == 'registrations_no'" ng-repeat="(key, value) in vehicledetail.vehicle.registration">
								<div class="col-xs-6"> <strong> Registration No:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div> -->
		                <div class="row" ng-if="key == 'registrations_licence_plate_no'" ng-repeat="(key, value) in vehicledetail.vehicle.registration">
								<div class="col-xs-6"><strong> License Plate No:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		              <!--  <div class="row" ng-if="key == 'registrations_fees'" ng-repeat="(key, value) in vehicledetail.vehicle.registration">
								<div class="col-xs-6"> <strong>Fees:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div> -->		                
		                <div class="row" ng-if="key == 'registrations_sticker_serial_no'" ng-repeat="(key, value) in vehicledetail.vehicle.registration">
								<div class="col-xs-6"><strong>Road Tax Sticker:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                 <div class="row" ng-if="key == 'vehicles_usetype_name'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong>Use type:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <div class="row" ng-if="key == 'vehicles_class_name'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong>Class:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                 <div class="row" ng-if="key == 'vehicles_status_name'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong>Status:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <!--
		                <div class="row" ng-if="key == 'registrations_last_renewal'" ng-repeat="(key, value) in vehicledetail.vehicle.registration">
								<div class="col-xs-6"><strong>Road Tax Expiry:</strong></div>
							    <div class="col-xs-6"> Dec 31st,{{ value | asYear | date:'yyyy' }}</div>
		                </div>
		                <div class="row" ng-if="key == 'sticker_reg_date'" ng-repeat="(key, value) in vehicledetail.vehicle.registration">
								<div class="col-xs-6"> <strong>Last Road Tax Sticker Updated On:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		            -->
		               
		  </div>

		</div>

	
		 <div class="panel panel-primary" >
  <!-- Default panel contents -->
		  <div class="panel-heading" ng-click="toggleGroup('vehicle')"
                    ng-class="{active: isGroupShown('vehicle')}">
              <i class="icon" ng-class="isGroupShown('vehicle') ? 'ion-minus' : 'ion-plus'"></i> <i class="icon ion-model-s"></i> Vehicle Details</div>
		  <div class="panel-body item-accordion" ng-show="openfirst" ng-show="isGroupShown('vehicle')">
						<!--<div class="row" ng-if="key == 'vehicles_vin'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong> VIN</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div> -->
		                <div class="row" ng-if="key == 'vehicles_year'"ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"><strong> Year:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <div class="row" ng-if="key == 'vehicles_make_id'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong>Make:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		               
		                <div class="row" ng-if="key == 'vehicles_name_trim'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"><strong>Model:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		              <!--  <div class="row" ng-if="key == 'vehicles_weight_kg'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"><strong>Gross Weight:</strong></div>
							    <div class="col-xs-6"> {{ value}}</div>
		                </div>-->
		                <div class="row" ng-if="key == 'vehicles_color_name'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong>Color:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		              <!--  <div class="row" ng-if="key == 'vehicles_odometer'" ng-repeat="(key, value) in vehicledetail.vehicle">
								<div class="col-xs-6"> <strong>Odometer:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		            -->
		               
		  </div>

		</div>


 <!--Vehilce owner's -->
		<div class="panel panel-primary" ng-if="vehicledetail.vehicle.owners" >
		  <div class="panel-heading"  ng-click="toggleGroup('driver')" ng-class="{active: isGroupShown('driver')}"><i class="icon" ng-class="isGroupShown('driver') ? 'ion-minus' : 'ion-plus'"></i> <i class="icon ion-ios7-people-outline"></i> Driver Information</div>
		  <div class="panel-body item-accordion" ng-show="isGroupShown('driver')" ng-repeat="owner in vehicledetail.vehicle.owners">
		                <h3 ng-if="vehicledetail.vehicle.owners.length > '0'">Owner {{$index + 1}}  </h3>
						<div class="row">
							    <div class="col-xs-6 name_owners"> {{owner.drivers_fname}} {{owner.drivers_lname}}</div>
		                </div>
		              <!--  <div class="row">
								<div class="col-xs-6"><strong>NIN:</strong></div>
							    <div class="col-xs-6">{{owner.drivers_nin}}</div>
		                </div>-->
		                <div class="row">
								<div class="col-xs-6"> <strong>License:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_license_no}}</div>
		                </div>
		               
		                <div class="row">
								<div class="col-xs-6"><strong>Street:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_street}} , {{owner.drivers_city}} ,{{owner.drivers_po_box}} ,{{owner.drivers_country}}</div>
		                </div>
		                 
		                 <div class="row">
								<div class="col-xs-6"><strong>Cell 1:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_cell1}}</div>
		                </div>
		             <!--    <div class="row">
								<div class="col-xs-6"><strong>Cell 2:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_cell2}}</div>
		                </div>
		                 <div class="row">
								<div class="col-xs-6"><strong>Email:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_email}}</div>
		                </div>-->
		                 <div class="row">
								<div class="col-xs-6"><strong>Driving Status:</strong> </div>
							    <div class="col-xs-6">{{owner.status}}</div>
		                </div>
		                
		               
		  </div>
		  <div class="panel-body item-accordion" ng-show="isGroupShown('driver')" ng-repeat="owner in vehicledetail.vehicle.authorized_drivers">
		                <h3 ng-if="vehicledetail.vehicle.authorized_drivers.length > '0'">Authorised {{$index + 1}}  </h3>
						<div class="row">
							    <div class="col-xs-6 name_owners"> {{owner.drivers_fname}} {{owner.drivers_lname}}</div>
		                </div>
		              <!--  <div class="row">
								<div class="col-xs-6"><strong>NIN:</strong></div>
							    <div class="col-xs-6">{{owner.drivers_nin}}</div>
		                </div>-->
		                <div class="row">
								<div class="col-xs-6"> <strong>License:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_license_no}}</div>
		                </div>
		               
		                <div class="row">
								<div class="col-xs-6"><strong>Street:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_street}} , {{owner.drivers_city}} ,{{owner.drivers_po_box}} ,{{owner.drivers_country}}</div>
		                </div>
		                 
		                 <div class="row">
								<div class="col-xs-6"><strong>Cell 1:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_cell1}}</div>
		                </div>
		             <!--    <div class="row">
								<div class="col-xs-6"><strong>Cell 2:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_cell2}}</div>
		                </div>
		                 <div class="row">
								<div class="col-xs-6"><strong>Email:</strong> </div>
							    <div class="col-xs-6">{{owner.drivers_email}}</div>
		                </div>-->
		                 <div class="row">
								<div class="col-xs-6"><strong>Driving Status:</strong> </div>
							    <div class="col-xs-6">{{owner.status}}</div>
		                </div>
		                
		               
		  </div>

		</div>  
		<button class="button button-full button-assertive">
   Issue Fine
 </button>

	<!--Insurance vehicle if any 
		<div class="panel panel-primary"  ng-if="vehicledetail.vehicle.insurance.id" >
		  <div class="panel-heading"> <i class="icon ion-ios7-medkit-outline"></i> Insurance</div>
		  <div class="panel-body" >
						<div class="row" ng-if="key == 'insurances_company'" ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
						    	<div class="col-xs-6"><strong>Name Of Insurance Company:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <div class="row"  ng-if="key == 'insurances_policy_no'" ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
								<div class="col-xs-6"><strong>Insurance Policy Number:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <div class="row"  ng-if="key == 'insurances_exp_date'"   ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
								<div class="col-xs-6"> <strong>Policy Expiration Date:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		               
		                <div class="row"  ng-if="key == 'insurances_agent_fname'"  ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
								<div class="col-xs-6"><strong>Agent's Name:</strong> </div>
							    <div class="col-xs-6">{{value}} {{vehicledetail.vehicle.insurance.insurances_agent_lname}}</div>
		                </div>
		                 <div class="row"  ng-if="key == 'insurances_agent_cell'"  ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
								<div class="col-xs-6"><strong>Agent's Contact Number:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                 <div class="row"  ng-if="key == 'insurances_agent_city'" ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
								<div class="col-xs-6"><strong>Agent's City:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                 <div class="row"  ng-if="key == 'insurances_agent_email'" ng-repeat="(key ,value) in vehicledetail.vehicle.insurance">
								<div class="col-xs-6"><strong>Agent's Email:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		               
		  </div>

		</div> 
		<div class="row"> -->
		<!--Documents for vehicle if any 
		<div class="panel panel-primary"  ng-if="vehicledetail.vehicle.documents.length > '0'" >
		  <div class="panel-heading"> <i class="icon ion-android-download"></i> Documents</div>
		  <div class="panel-body"  ng-repeat="document in vehicledetail.vehicle.documents">
						<div class="row" >
						    	<div class="col-xs-9"><a class="button button-small  icon-left ion-android-download button-royal" href="http://50.59.102.51/vehicledata/documents/{{document.documents_name}}">Document {{$index +1 }}</a></div>
		                </div>
		               
		  </div>

		</div>	-->				


<!--lians drives if any
		<div class="panel panel-primary" ng-if="vehicledetail.vehicle.lien.id">
		  <div class="panel-heading"> <i class="icon ion-ios7-person-outline"></i> Lien</div>
		  <div class="panel-body" >
		 
						<div class="row" ng-if="key == 'liens_collateral_id'" ng-repeat="(key ,value) in vehicledetail.vehicle.lien">
						    	<div class="col-xs-6"><strong>Collateral Id:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <div class="row"  ng-if="key == 'liens_collateral_value'" ng-repeat="(key ,value) in vehicledetail.vehicle.lien">
								<div class="col-xs-6"><strong>Collateral Value:</strong></div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                <div class="row"  ng-if="key == 'liens_bank_name'"   ng-repeat="(key ,value) in vehicledetail.vehicle.lien">
								<div class="col-xs-6"> <strong>Bank Name:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		               
		                <div class="row"  ng-if="key == 'liens_bank_branch'"  ng-repeat="(key ,value) in vehicledetail.vehicle.lien">
								<div class="col-xs-6"><strong>Bank Branch:</strong> </div>
							    <div class="col-xs-6">{{value}} {{vehicledetail.vehicle.insurance.insurances_agent_lname}}</div>
		                </div>
		                 <div class="row"  ng-if="key == 'liens_bank_street'"  ng-repeat="(key ,value) in vehicledetail.vehicle.lien">
								<div class="col-xs-6"><strong>Bank Street:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                 <div class="row"  ng-if="key == 'liens_bank_city'" ng-repeat="(key ,value) in vehicledetail.vehicle.lien">
								<div class="col-xs-6"><strong>Bank City:</strong> </div>
							    <div class="col-xs-6">{{value}}</div>
		                </div>
		                 
		               
		  </div>

		</div> -->
 
  
  </ion-content>
</ion-view>
