<ion-view>
    

    <ion-content>
	<style>
	.appointment_box_me {
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.scroll {
    -webkit-user-select: initial !important; float:left;
	}
	
	
	.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 24px;
    line-height: 18px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
	padding-left: 16px;
	 
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-disabled
{
    
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

	</style>
	<div ng-include="'templates/power.html'" style="float:right;margin-right:5px;margin-top:5px;" ng-controller="powerCtrl"></div> 
        <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
            <div class="row">
                <div ng-click="changetab('first')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='first'}"> Appointments</div>
                </div>
                <div ng-click="changetab('second')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='second'}"> My Greenpal</div>
                </div>
            </div>
            <hr>
			
			
			 <div ng-if="tab=='first'">
                            <div class="calendar" ng-click="openModal()">
                                <img ng-src="img/asset/cal.jpg" >
                                    <p class="fontsforweb_fontid_12950"> Your Next Appointment</p>
                                </div>
								  <div class="content_appointment_wrap_me" style="height:70px;" ng-repeat="date in allAppointments | orderBy:'service_date' " ng-show="$index == 0">
                                            <h1>{{ date.service_date | date:'EEEE'}} {{ date.service_date | date:'MMMM d'}} </h1>
                                            
                                        </div>
										
										
                                <div  style="max-height: 246px;float: left;
    
    width: 100%;">
 <div class="calendar" ng-repeat="date in allAppointments track by $index" data-ng-show="$index == 1">
										<p class="fontsforweb_fontid_12950" >Future Appointments</p></div>
               					
					
                                    <ion-scroll direction="y" delegate-handle="small" style="max-height: 230px;">
                                        <div style="color: #fff;
    float: left;
    text-align: center;
    width: 100%;display:block;" ng-repeat="date in allAppointments  | orderBy:'service_date' " ng-show="$index!= 0">
                                          
										                                     <h4 style="color:white;font-size:20px;">{{ date.service_date | date:'EEEE'}} {{ date.service_date | date:'MMMM d'}}
																			 </h4>
												    
													
										
                                        </div>
                                    </ion-scroll>
                                </div>
                                <div class="blur-effect"></div>
                                
											<div class="slide_vertical" ng-repeat="date in allAppointments track by $index" data-ng-show="$index=='{{allAppointments.length-1}}' && $index!= 0 && $index!= 1 && $index!= 2 && $index!= 3 && $index!= 4 && $index!= 5">
                                    <i ng-click="moveslider(allAppointments.length)"  class="ion-ios-arrow-down"></i>
                                </div>
								
                                <div class="content_lower" style="margin-top:8%">
								
								                 <button class="button button-full button-custom schedule_cut fontsforweb_fontid_12950"  ng-click="gotourl('specific')">
           Schedule more
        </button>
                                    
                                </div>
                            </div>
			
			
                <div ng-if="tab=='second'">
                    

					<div class="card user_wrap my_greenpal">
                        <div class="wrap_avatar_greenpal">
                            <img src="{{full_response.headshot_url}}" style="    position: relative;
    bottom: 40px;
    border-radius: 90px;
    left: 46px;
    width: 90px;
    overflow: hidden;
    z-index: 2222;
    height: 90px;">
                                <h2 class="fontsforweb_fontid_12950" ng-if="price!=null">${{price}}</h2> <h2 class="fontsforweb_fontid_12950" ng-if="price==null">NA</h2>
                            </div>
                            <div class="wrap_rating fontsforweb_fontid_12950">
                                <div>Your Current Greenpal</div>
                                <div class="peach_head">
                                    <h4>{{greenpal.company_name}}</h4>
                                </div>
                                <div class="rate_user">
                                                                     <p>
                                                
												
												<div class="acidjs-rating-stars acidjs-rating-disabled">
   
        <input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="full_response.rating==5" checked="checked" />
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="full_response.rating!=5" />
		<label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="full_response.rating==4"  checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="full_response.rating!=4"  />
		<label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="full_response.rating==3" checked="checked" style="margin-left:-5px;"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="full_response.rating!=3" style="margin-left:-5px;"/>
		<label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="full_response.rating==2" checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="full_response.rating!=2" />
		<label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="full_response.rating==1" checked="checked" /><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="full_response.rating!=1" /><label for="group-3-4"></label>
    
</div>
                                            </p>
                                </div>
                                <div>({{full_response.rating}} Avg.)</div>
                            </div>
                        </div>
                        <div class="row wrap_button">
                            <div class="col_custom" ng-click="email(greenpal.company_email)">
                                <img src="img/asset/email.png">
                                    <span>Email</span>
                                </div>
                                <div class="col_custom" ng-click="sms(greenpal.phone_number)">
                                    <img src="img/asset/text.png">
                                        <span>Text</span>
                                    </div>
                                    <div class="col_custom" ng-click="call(greenpal.phone_number)">
                                        <img src="img/asset/call.png">
                                            <span>Call</span>
                                        </div>
                                    </div>
                                   		
                                <div class="content_lower_wrap">
								
								                 <button class="button button-full button-custom schedule_cut fontsforweb_fontid_12950"  ng-click="gotourl('specific')">
           Schedule more
        </button>
                                    <div class="content_lower_wrap">
                                        <a class="fontsforweb_fontid_12950">
          
        </a>
                                    </div>

							
					

					</div>
					<div style="clear:both;">
                       
                            <br/>
 <br/> <br/> <br/>
  <br/><br/>
  <br/> <br/>
                        </ion-content>
                    </ion-view>
                    
                    
                    <style>
                    .modal {
    background-color: #fff;
    display: block;
    min-height: 0;
    overflow: hidden;
    position: static;
    top: 0;
    width: 100%;
    z-index: 10;
}
.imagewidth_rightpart {
     float: left;
    height: 37px;
    margin-left: 10%;
    width: 74%;
}
                    </style>
