<ion-view view-title="Review {{company_name}}">
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
      <ion-nav-buttons side="right">
		            <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
    <ion-content class="dispute_cut_back">
	
	<style>
	.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
     cursor: pointer;
    font-size: 50px;
    line-height: 18px;
    padding-left: 16px;
    text-align: center;
    width: 46px;
	 
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-disabled
{
    
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

	</style>
      
            <h1>How Would you rate the quality of lawn cut?</h1>
			
			<div class="acidjs-rating-stars">
   
        <input type="radio" name="group-1" id="group-1-0"  value="5" ng-click="saveRatingToServer('5')"/><label for="group-1-0"></label><!--
        --><input type="radio" name="group-1" id="group-1-1"  value="4" ng-click="saveRatingToServer('4')" /><label for="group-1-1"></label><!--
        --><input type="radio" name="group-1" id="group-1-2"  value="3" ng-click="saveRatingToServer('3')" /><label for="group-1-2"></label><!--
        --><input type="radio" name="group-1" id="group-1-3"   value="2" ng-click="saveRatingToServer('2')" /><label for="group-1-3"></label><!--
        --><input type="radio" name="group-1" id="group-1-4"    value="1"  ng-click="saveRatingToServer('1')"/><label for="group-1-4"></label>
   
</div>
			
        
            <h1>What do you think of the service?</h1>
            <textarea ng-model="appointment_review.comments" name="comment" required ></textarea>
			<br/><br/>
			<div style="float:left;width:96%;margin-left:2%;">
            <div class="col col-50 auction_float">
                <a class="button button-full button-custom auction_cut fontsforweb_fontid_12950" 	ng-click= "review()" >
             Review
             </a>
            </div>
			
            <div class="col col-50 auction_float">
                <a class="button button-full button-custom auction_cut fontsforweb_fontid_12950" 	href= "#no_appointment" style="background-color: white !important;
    color: #82c4ec !important;
    border: 1px solid #82c4ec !important; ">
            Skip
            </a>
            </div>
			</div>
			<br/><br/><br/><br/>
      
		
		<style>
		.rating .filled {
    color: #faa632;
    font-size: 48px;
}
ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 3px 3px;
    font-size: 48px;
	color:#D1D1D1;
	}
		</style>
    </ion-content>
</ion-view>
