<ion-view view-title="Add Card to Secure Date">
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div> 

	
      </ion-nav-buttons>
    <ion-content>
        <div class="save_pic">
            <img src="img/asset/empty_camera.png"/>
            <h1>Take a Pic to save time</h1>
        </div>
        <div class=credit_form>
            <div class="col-1">
                <div class="cred_img">
                    <img src="img/asset/ced_img.png">
                    </div>
                    <input type="text" placeholder="Credit Card Number">
                        <div class="cred_img2">
                            <img src="img/asset/visa.png">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="cred_img">
                                <img src="img/asset/credit_man.png">
                                </div>
                                <input type="text" placeholder="Card Owner Name">
                                </div>
                                <div class="col-2">
                                    <div class="cred_img">
                                        <img src="img/asset/calendar.png">
                                        </div>
                                        <input type="text" placeholder="12/15">
                                        </div>
                                        <div class="col-3">
                                            <div class="cred_img">
                                                <img src="img/asset/credit_lock.png">
                                                </div>
                                                <input type="text" placeholder="CVV">
                                                </div>
                                            </div>
                                            <div class="content_lower credit_card_margin">
                                                <button  class="button button-full button-custom schedule_cut fontsforweb_fontid_12950">
           Add Credit Card
        </button>
                                            </div>
                                            <div class="footer_security">
                                                <img src="img/asset/footer_security.png">
                                                </div>
                                            </ion-content>
                                        </ion-view>
