<ion-view view-title="Dashboard" style="text-align:center !important;right:0px !important;">
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom" style="right: 0px !important;">
     <!--   <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>-->
    </ion-nav-bar>
     <ion-nav-buttons side="right">
		           <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
    <ion-content>
        <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
            <div class="row">
                <div ng-click="changetab('first')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='first'}"> Appointments</div>
                </div>
                <div ng-click="changetab('second')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='second'}"> My Greenpal</div>
                </div>
            </div>
            <hr>
			 <div ng-if="tab=='first'">
			<div class="calendar">
                                <img ng-src="img/asset/cal.jpg" >
                                    <p class="fontsforweb_fontid_12950">{{result}}</p>

                                </div>
								<br/>
								<br/>
							<div class="content_lower">
							     <button ng-click="gotourl('new_auction')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950" style="border: 1px solid #fff;">
           Get new quotes
        </button>
							
					 </div>
			</div>
                 <div ng-if="tab=='second'">
                    <div class="barrel">
                        <img ng-src="img/asset/bid-gavel.png">
                        </div>
                        <div class="content">
                            <h4 class="fontsforweb_fontid_12950"> No current bid</h4>
                            <h1> Gary is busy </h1>
                            <h1> getting your bids.</h1>
                            <div class="garry_no_bid">
                                <img ng-src="img/asset/no-bids-gary.png">
                                </div>
                            </div>
                        </div>
                        <!-- <div><div class="calendar"><img ng-src="img/asset/calendar-icon-0-days.png"></div><div class="content_appointment"><h1>No Scheduled Appointments </h1></div><div class="content_lower"><button ng-click="gotourl('my_bids')" class="button button-full button-custom schedule_cut fontsforweb_fontid_12950">
           Schedule a cut
        </button><div class="or_state fontsforweb_fontid_12950"> -OR- </div><button ng-click="gotourl('new_auction')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950">
           Get new quotes
        </button></div></div>-->
                    </ion-content>
                </ion-view>
