<ion-view>
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		            <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
    <ion-content>
        <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
            <div class="row">
                <div ng-click="changetab('first')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='first'}"> Appointments</div>
                </div>
                <div ng-click="changetab('second')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='second'}"> My Greenpal</div>
                </div>
            </div>
            <hr>
                <div ng-if="tab=='second'">
                    <div class="barrel">
                        <img ng-src="img/asset/bid-gavel.png">
                        </div>
                        <div class="content">
                            <h4 class="fontsforweb_fontid_12950">Current Bids</h4>
                            <div class="list card" ng-click="gotourl('provider_detail')">
                                <div class="item item-avatar ratethem">
                                    <img src="img/asset/avatar.jpg">
                                        <h2>Tysons Lawn Care</h2>
                                        <p>
                                            <rating ng-model="rate" max="max" readonly="true"></rating>({{rate}} Avg.)
                                        </p>
                                    </div>
                                    <div class="item item_right_rate">
                                        <h2>$55</h2>
                                        <i class="ion-ios-arrow-right"></i>
                                    </div>
                                </div>
                                <div class="list card" ng-click="gotourl('provider_detail')">
                                    <div class="item item-avatar ratethem">
                                        <img src="img/asset/avatar.jpg">
                                            <h2>Tysons Lawn Care</h2>
                                            <p>
                                                <rating ng-model="rate" max="max" readonly="true"></rating>({{rate}} Avg.)
                                            </p>
                                        </div>
                                        <div class="item item_right_rate">
                                            <h2>$55</h2>
                                            <i class="ion-ios-arrow-right"></i>
                                        </div>
                                    </div>
                                    <div class="list card" ng-click="gotourl('provider_detail')">
                                        <div class="item item-avatar ratethem">
                                            <img src="img/asset/avatar.jpg">
                                                <h2>Tysons Lawn Care</h2>
                                                <p>
                                                    <rating ng-model="rate" max="max" readonly="true"></rating>({{rate}} Avg.)
                                                </p>
                                            </div>
                                            <div class="item item_right_rate">
                                                <h2>$55</h2>
                                                <i class="ion-ios-arrow-right"></i>
                                            </div>
                                        </div>
                                        <div class="list card" ng-click="gotourl('provider_detail')">
                                            <div class="item item-avatar ratethem">
                                                <img src="img/asset/avatar.jpg">
                                                    <h2>Tysons Lawn Care</h2>
                                                    <p>
                                                        <rating ng-model="rate" max="max" readonly="true"></rating>({{rate}} Avg.)
                                                    </p>
                                                </div>
                                                <div class="item item_right_rate">
                                                    <h2>$55</h2>
                                                    <i class="ion-ios-arrow-right"></i>
                                                </div>
                                            </div>
                                            <div class="list card" ng-click="gotourl('provider_detail')">
                                                <div class="item item-avatar ratethem">
                                                    <img src="img/asset/avatar.jpg">
                                                        <h2>Tysons Lawn Care</h2>
                                                        <p>
                                                            <rating ng-model="rate" max="max" readonly="true"></rating>({{rate}} Avg.)
                                                        </p>
                                                    </div>
                                                    <div class="item item_right_rate">
                                                        <h2>$55</h2>
                                                        <i class="ion-ios-arrow-right"></i>
                                                    </div>
                                                </div>
                                                <div class="list card">
                                                    <div class="item item-avatar ratethem">
                                                        <img src="img/asset/avatar.jpg">
                                                            <h2>Tysons Lawn Care</h2>
                                                            <p>
                                                                <rating ng-model="rate" max="max" readonly="true"></rating>({{rate}} Avg.)
                                                            </p>
                                                        </div>
                                                        <div class="item item_right_rate">
                                                            <h2>$55</h2>
                                                            <i class="ion-ios-arrow-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="tab=='first'">
                                                    <div class="calendar">
                                                     <img ng-src="img/asset/green_logo.png">
                                                    </div>
                                                    <div class="lawn_appointment">
                                                        <h1>Horay! Your Lawn has been Cut! </h1>
                                                    </div>
                                                    <div class="lawn_image">
                                                        <img ng-src="{{completed.completed_work_photo}}">
                                                      </div>
														
														<div style="clear:both;"></div>
														<div style="width:96%;margin-left:2%;float:left;">
                                                        <div class="col col-50 auction_float">
                                                            <a href="#approve/{{completed_appointment.id}}">
                                                                <button class="button button-full button-custom auction_cut fontsforweb_fontid_12950" >
             Approve
             </button>
                                                            </a>
                                                        </div>
                                                        <div class="col col-50 auction_float">
                                                            <a href="#dispute_cut/{{completed_appointment.id}}">
                                                                <button class="button button-full cancel_button auction_cut fontsforweb_fontid_12950" style="    background: none repeat scroll 0 0 #3aa2e1;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;">
            Dispute
            </button>
                                                            </a>
                                                        </div>
														</div>
														<br/><br/>
                                                    </div>
                                                </ion-content>
                                            </ion-view>
