<ion-view cache-view='false' >
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
       
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		            <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
    <ion-content>
		<style>
							.rating .filled {
    color: #EAA528 !important;
    font-size: 23px !important;
}
ul.rating li {
    display: inline !important;
    border: 0px !important;
    background: none;
    padding: 0px 0px !important;
    font-size: 26px !important;
}
.rating li {
    list-style-type: none !important;
    display: inline-block !important;
    padding: 0px !important;
    text-align: left !important;
    font-weight: bold !important;
    cursor: pointer !important;
}
ul.rating li {
    display: inline !important;
    border: 0px !important;
    background: none !important;
    padding: 0px 0px !important;
    font-size: 23px !important;
}
.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 17px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
	padding-left: 16px;
	 
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-disabled
{
    
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

							</style>
        <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
            <div class="row">
                <div ng-click="changetab('first')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='first'}"> Appointments</div>
                </div>
                <div ng-click="changetab('second')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='second'}"> My Greenpal</div>
                </div>
            </div>
            <hr>
                <div ng-if="tab=='first'">
                    <div class="barrel">
                        <img ng-src="img/asset/bid-gavel.png">
                        </div>
                        <div class="content">
                            <h4 class="cur_bid">Current Bids</h4>
                            <a ng-href="#provider_detail/{{bid.id}}" ng-repeat="bid in allBids track by $index">
                                <div class="list card" style="margin-bottom:10px;">
                                    <div class="item item-avatar ratethem">
                                        <img src="{{bid.company_icon}}" alt="" style="  font-size: 8px;
  max-width: 55px;
  height: 100px;  position: absolute;
  top: 13px;
  left: 7px;
  max-height: 55px;
  width: 100%;
  border-radius: 55px;">
                                          <h2 style="margin-left:8px;    font-size: 18px;
    color: #39A2E0;">{{bid.company_name}}</h2>
                                            <p>
												<div class="acidjs-rating-stars acidjs-rating-disabled">
   
        <input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="bid.company_rating==5" checked="checked" />
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="bid.company_rating!=5" />
		<label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="bid.company_rating==4"  checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="bid.company_rating!=4"  />
		<label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="bid.company_rating==3" checked="checked" style="margin-left:-5px;"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="bid.company_rating!=3" style="margin-left:-5px;"/>
		<label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="bid.company_rating==2" checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="bid.company_rating!=2" />
		<label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="bid.company_rating==1" checked="checked" /><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="bid.company_rating!=1" /><label for="group-3-4"></label>
    
</div> <font style="font-size:12px;">&nbsp;({{bid.company_rating}} Avg.)
                                            </p>
                                        </div>
                                        <div class="item item_right_rate">
                                            <h2 style="    width: 48px;
    background: none repeat scroll 0 0 #faa632;
    padding: 10px 0px 8px 0px;
    text-align: center;height:auto !important;">${{bid.bid_amount}}</h2>
                                            <i class="ion-ios-arrow-right" style="  float:right;position: absolute;top: 20px;right:10px;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ng-if="tab=='second'">
						
						<div class="barrel">
                        <img ng-src="img/asset/bid-gavel.png">
                        </div>
                        <div class="content">
                            <h4 class="fontsforweb_fontid_12950">{{message}}</h4>
                            <h1> Gary is busy </h1>
                            <h1> getting your bids.</h1>
                            <div class="garry_no_bid">
                                <img ng-src="img/asset/no-bids-gary.png">
                                </div>
                            </div>
                           <!-- <div>
                                <div class="calendar">
                                    <img ng-src="img/asset/calendar-icon-0-days.png">
                                    </div>
                                    <div class="content_appointment">
                                        <h1>No Scheduled Appointments </h1>
                                    </div>
                                    <div class="content_lower">
                                        <button ng-click="gotourl('my_bids')" class="button button-full button-custom schedule_cut fontsforweb_fontid_12950">
           Schedule a cut
        </button>
                                        <div class="or_state fontsforweb_fontid_12950"> -OR- </div>
                                        <button ng-click="gotourl('new_auction')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950">
           Get new quotes
        </button>
                                    </div>
                                </div>
                                <p>
                                    <div fundoo-rating rating-value='bid.rate' max="max" readonly="true"></div>({{bid.rate}} Avg.)
                                </p>-->
                            </ion-content>
						
                        </ion-view>
