<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="New Auction">
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		            <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
    <ion-content style="background:#fff;">
	<style>
	</style>
        <div class="new_auction_container">
            <h1 class="head_auction fontsforweb_fontid_12950">When would you like your lawn cut?</h1>
			
			   <div class="dispute_cameras" style="margin-left:0px;width:100%;">
                <span class="specificdate" ng-if="!auction.service_date">Tap to Select a Date </span>
                <span class="specificdate" ng-if="auction.service_date">{{auction.service_date | date:'MMMM d, yyyy'}} </span>
                
                <div class="specificdatecalender" >
					 <input type="date" placeholder="Date" class="padding_input date_auction" ng-model="auction.service_date" style="width: 100%;

left: 0px;
height: 46px;
width:100%;
background:transparent;color:white;background:url('img/asset/calendar001.png') no-repeat ;background-position: right center; background-size: 40px auto, 60px auto;border:none;" >
				
                  </div>
                </div>

                <h1 class="head_auction fontsforweb_fontid_12950">Date flexibility</h1>
                <div class="row">
                    <div class="col col-85 auction_flex">
                        <input type="text" placeholder="1 day" class="padding_input date_auction flexibility_date" ng-model ="auction.flexibility">
                        </div>
                        <div class="col auction_col" ng-click="changeflex()">
                            <i class="auction_plus icon ion-plus-round"></i>
                        </div>
                    </div>
                    <h1 class="head_auction fontsforweb_fontid_12950">Comments</h1>
                    <textarea placeholder="Comments" ng-model="auction.comments" class="padding_input date_auction auction_textarea" ></textarea>
					<div style="clear:both;"></div>
					<div style="width:96%;float:left;margin-left:2%;">
                    <div class="col col-50 auction_float">
                        <button class="button button-full button-custom auction_cut fontsforweb_fontid_12950" ng-click="create_auction()">
             Create
             </button>
                    </div>
                    <div class="col col-50 auction_float">
                        <a class="button button-full button-custom auction_cut fontsforweb_fontid_12950" 	href= "#lawn_cut" style="background-color: white !important;
    color: #82c4ec !important;
    border: 1px solid #82c4ec !important; ">
             Cancel
             </a>
                    </div>
					</div>
					<br/><br/><br/><br/><br/><br/>
                </div>
                 <style>
				 
				 input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
	opacity:0 !important;
}
				 
#date-time-edit
{
opacity:0;
}
#spin
{
opacity:0;
}
#picker
{
opacity:0;
}
.specificdatecalender {
float: left;
font-size: 15px;
margin-right: 0px;
margin-top: -34px;
width: 100% !important;
top: 0px;
}
            </style>
            </ion-content>
        </ion-view>
