<ion-view cache-view='false'>
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
    
    <ion-content>
	
<style>
	.appointment_box_me {
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.scroll {
    -webkit-user-select: initial !important; float:left;
	}
	
	
	.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 24px;
    line-height: 18px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
	padding-left: 16px;
	 
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-disabled
{
    
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

	</style>	
	
        <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
			
				<div ng-if="responses.errors!='Something went wrong...No Appointments or Auctions found!'">
            <div class="row">
                <div ng-click="changetab('first')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='first'}"> Appointments</div>
                </div>
			
                <div ng-click="changetab('second')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='second'}"> My Greenpal</div>
                </div>
			
            </div>
			</div>
			<div ng-if="responses.errors=='Something went wrong...No Appointments or Auctions found!'">
			<div class="row">
                <div ng-click="changetab('first')" class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='first'}"> Appointments</div>
                </div>
			
                <div  class="col col-50 pointer">
                    <div ng-class="{'col-demo':tab=='second'}"> My Greenpal</div>
                </div>
			
            </div>
			</div>
			
            <hr>
			
			
			
                <div ng-if="tab=='second'">
				
				
				<div class="card user_wrap my_greenpal">
                        <div class="wrap_avatar_greenpal">
                            <img src="{{full_response.headshot_url}}" style="    position: relative;
    bottom: 40px;
    border-radius: 90px;
    left: 46px;
    width: 90px;
    overflow: hidden;
    z-index: 2222;
    height: 90px;">
                                <h2 class="fontsforweb_fontid_12950" ng-if="full_response.price!=null">${{full_response.price}}</h2> <h2 class="fontsforweb_fontid_12950" ng-if="full_response.price==null">NA</h2>
                            </div>
							
                            <div class="wrap_rating fontsforweb_fontid_12950">
                                <div>Your Current Greenpal</div>
                                <div class="peach_head">
                                    <h4>{{greenpal.company_name}}</h4>
                                </div>
                                <div class="rate_user">
                                                                     <p>
                                                
												
												<div class="acidjs-rating-stars acidjs-rating-disabled">
   
        <input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="full_response.rating==5" checked="checked" />
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="full_response.rating!=5" />
		<label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="full_response.rating==4"  checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="full_response.rating!=4"  />
		<label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="full_response.rating==3" checked="checked" style="margin-left:-5px;"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="full_response.rating!=3" style="margin-left:-5px;"/>
		<label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="full_response.rating==2" checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="full_response.rating!=2" />
		<label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="full_response.rating==1" checked="checked" /><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="full_response.rating!=1" /><label for="group-3-4"></label>
    
</div>
                                            </p>
                                </div>
                                <div>({{full_response.rating}} Avg.)</div>
                            </div>
                        </div>
                        <div class="row wrap_button">
                            <div class="col_custom" ng-click="email(greenpal.company_email)">
                                <img src="img/asset/email.png">
                                    <span>Email</span>
                                </div>
                                <div class="col_custom" ng-click="sms(greenpal.phone_number)">
                                    <img src="img/asset/text.png">
                                        <span>Text</span>
                                    </div>
                                    <div class="col_custom" ng-click="call(greenpal.phone_number)">
                                        <img src="img/asset/call.png">
                                            <span>Call</span>
                                        </div>
                                    </div>
                                   		
                                <div class="content_lower_wrap">
								
								                 <button class="button button-full button-custom schedule_cut fontsforweb_fontid_12950"  ng-click="gotourl('specific')">
           Schedule more
        </button>
                                    <div class="content_lower_wrap">
                                        <a class="fontsforweb_fontid_12950">
          
        </a>
                                    </div>

							  </div>
					

				
				
				
				
				
				
				
				
				
                  <!--  <div class="barrel">
                        <img ng-src="img/asset/bid-gavel.png">
                        </div>
                        <div class="content">
                            <h4 class="fontsforweb_fontid_12950"> No current bid</h4>
                            <h1> Gary is busy </h1>
                            <h1> getting your bids.</h1>
                            <div class="garry_no_bid">
                                <img ng-src="img/asset/no-bids-gary.png">
                                </div>
                            </div>-->
							
							
							
							
							<!--<div class="calendar">
                                <img ng-src="img/asset/cal.jpg" >
                                    <p class="fontsforweb_fontid_12950">{{message}}</p>

                                </div>
								<br/>
								<br/>
							<div class="content_lower">
							     <button ng-click="gotourl('new_auction')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950" style="border: 1px solid #fff;">
           Get new quotes
        </button>
							
					 </div>		-->
					 
					 
					 
					 
					 <br/>
								<br/>
                        </div> 
                        <div ng-if="tab=='first'">
                            <div class="calendar">
                                <img ng-src="img/asset/calendar-icon-0-days.png">
                                </div>
                                <div class="content_appointment">
                                    <h1>No Scheduled Appointments </h1>
                                </div>
                                <div class="content_lower">
                                    <button ng-click="gotourl('specific')" class="button button-full button-custom schedule_cut fontsforweb_fontid_12950">
           Schedule a cut
        </button>
                                    <div class="or_state fontsforweb_fontid_12950"> -OR- </div>
                                    <button ng-click="gotourl('new_auction')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950" style="border: 1px solid #fff;">
           Get new quotes
        </button>
                                </div>
								<br/><br/><br/><br/><br/><br/>
                            </div>
                        </ion-content>
                    </ion-view>
