<ion-view>
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title class="title_service"> You got Paid
  </ion-nav-title>
    <ion-content>
        <br/>
        <br/>
        <div class="ratethem_service">
            <br/>
            <div class="image_service">
                <img src="img/asset/paise.png" style="width:60px;">
                </div>
                <div class='new_serv_colr'>
                    <font class="wght_font" style="text-transform: capitalize;">{{homeownerName}}</font>
                </div>
                <div class='new_serv_colr'> has approved your work</div>
                <br/>
                <div class='servicing_color_data'>${{paid_amounts.dollar_amount}} is own the way to your bank account.</div>
            </div>
            <br/>
        </ion-content>
    </ion-view>
