  <style>
  .popover-arrow
  {
  left: 189px !important;
  }
</style>  	
	<ul>

  <li class="ion-android-more-vertical" data-pack="android" data-tags="options, menu" style="font-size:42px; color: white;
    margin-right: 12px;
    margin-top: 6px;" ng-click="popover.show($event)"></li>
	
  </ul>
