<style>
.bar .title.title-left
{
right:0px !important;
text-align:center;
}
</style>

<ion-view view-title="{{bidInfos.company_name}}" cache-view='false'  >
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom" style="text-align: center !important;right:0px !important;">
    <!--   <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>-->
	
	 <div class="button-icon ion-arrow-left-c" style="color: white;font-size: 32px;position: absolute;z-index:11;margin-top: 5px;
    margin-left: 5px;" ng-click="previousPage()"></div>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>
	
      </ion-nav-buttons>
	  
    <ion-content>
	<style>
		.rating .filled {
    color: #faa632 !important;
    font-size: 35px !important;
}
.fixed-outside{
  position: fixed;
  bottom: 0;
  color:white;
  width: 100%;

  text-align:center;
  z-index:9999999;
}

ul.rating li {
    display: inline !important;
    border: 0px !important;
    background: none !important;
    padding: 3px 3px !important;
    font-size: 35px !important;
	color:#D1D1D1 !important;
	}
	.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  display: block !important;
}


.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 28px;
    line-height: 18px;
    text-align: center;
    font-size: 35px ;
    cursor: pointer;
	padding-left: 16px;
	 
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #EAA528 ;
}
 
.acidjs-rating-disabled
{
    
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

		</style>
        <div class="main_nee">
            <div class="card user_wrap">
                <div class="wrap_avatar">
                    <img src="{{allBidsInfo.avatar}}" alt="" style="border-radius: 100px;
    bottom: 40px;
    height: 100px;
    left: 126px;
    position: relative;
    width: 100px;">
                        <h2 class="fontsforweb_fontid_12950" style="width: 55px;
    background: none repeat scroll 0 0 #287EB1;
    padding: 12px 0px 8px 0px;
    text-align: center;
    height: auto !important;">${{allBidsInfo.bids.bid_amount}}</h2>
                    </div>
                    <div class="wrap_rating">
                        <div class="rate_user">
                            <div>
                                <p>
								
								
								 <div class="acidjs-rating-stars acidjs-rating-disabled">
   
        <input disabled="disabled" type="radio" name="group" id="group-3-0" value="5" ng-if="ratings==5" checked="checked" />
		<input disabled="disabled" type="radio" name="group" id="group-3-0" value="5" ng-if="ratings!=5" />
		<label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" name="group" id="group-3-1" value="4"  ng-if="ratings==4"  checked="checked"/>
		<input disabled="disabled" type="radio" name="group" id="group-3-1" value="4"  ng-if="ratings!=4"  />
		<label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group" id="group-3-2" value="3" ng-if="ratings==3" checked="checked" style="margin-left:-5px;"/>
		<input disabled="disabled" type="radio" name="group" id="group-3-2" value="3" ng-if="ratings!=3" style="margin-left:-5px;"/>
		<label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group" id="group-3-3" value="2" ng-if="ratings==2" checked="checked"/>
		<input disabled="disabled" type="radio" name="group" id="group-3-3" value="2" ng-if="ratings!=2" />
		<label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group" id="group-3-4"  value="1" ng-if="ratings==1" checked="checked" /><input disabled="disabled" type="radio" name="group" id="group-3-4"  value="1" ng-if="ratings!=1" /><label for="group-3-4"></label>
    
</div>
                                </p>
                            </div>
                        </div>
                        <div>({{ratings}} Avg. {{reviews_count}} Reviews)</div>
                    </div>
                    <div class="item item-text-wrap fontsforweb_fontid_12950">
					{{bidInfos.bio}}
       
      </div>
                </div>
                <div class="vendor_work fontsforweb_fontid_12950">
                    <h2> OUR WORK </h2>
                    <ion-scroll direction="x" class="wide-as-needed"  >
                        <div class="container_images" style="width:1100px;">
                            <div class="content_appointment_wrap_image" ng-repeat="work_photo in allBidsInfo.work_photos track by $index" >
                                <img ng-src="{{work_photo}}" class="fullscreen-image" style="width: 262px;" />
                            </div>
                        </div>
                    </ion-scroll>
                </div>
					
                <div class="vendor_work fontsforweb_fontid_12950">
                    <h2>REVIEWS </h2>
                    <div ng-if="allBidsInfo.reviews!='null'"></div>
                    <div class="list card review" ng-repeat="reviews in allBidsInfo.reviews track by $index">
                        <div class="item">
                            <p>
							
							
							
									 <div class="acidjs-rating-stars acidjs-rating-disabled">
   
        <input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="reviews.rating==5" checked="checked" />
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-0" value="5" ng-if="reviews.rating!=5" />
		<label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="reviews.rating==4"  checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-1" value="4"  ng-if="reviews.rating!=4"  />
		<label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="reviews.rating==3" checked="checked" style="margin-left:-5px;"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-2" value="3" ng-if="reviews.rating!=3" style="margin-left:-5px;"/>
		<label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="reviews.rating==2" checked="checked"/>
		<input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-3" value="2" ng-if="reviews.rating!=2" />
		<label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="reviews.rating==1" checked="checked" /><input disabled="disabled" type="radio" name="group{{$index}}" id="group-3-4"  value="1" ng-if="ratings!=1" /><label for="group-3-4"></label>
    
</div>
							

                               
                            </p>
                            <br/>
                            <p style="white-space: pre-line;width:100%;float:left;">{{reviews.text}}</p>
                        </div>
                        <i class="down_review ion-arrow-down-b"></i>
                        <h4 class="head_user fontsforweb_fontid_12950">{{reviews.homeowner_name}}</h4>
                    </div>
				
                </div>
                <!-- <div class="bar" style="background:transparent;">-->
                <!--  </div>-->
            </div>
        </ion-footer-bar>
		
		
    </ion-content>
	<ion-footer-bar align-title="left" class="bar-positive" style="text-align: center;
    margin: 0 auto;
    float: left; background-color:#3AA2E1;border:#3AA2E1;">
	   <button class="button button-full button-custom  schedule_cut fontsforweb_fontid_12950" style="position: relative;top: -31px;  margin: 0 auto;" ng-click="pickMe(current_bid)">
                   Pick Me 
                </button>
	</ion-footer-bar>
</ion-view>
