<ion-view view-title="Add Card to Secure Date">
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div> 

	
      </ion-nav-buttons>
    <ion-content>
		<style>
	input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.credit {
    margin: 20px auto;
    width: 350px;
}
	</style>
        <div class="credit">
            <img src="img/asset/credit-card-scan.png">
            </div>
            <form stripe-form="stripeCallback" data-abide>
                <div class=credit_form>
                    <div class="col-1">
						<div class="cred_img">
									<img src="img/asset/ced_img.png">
						</div>
								<input ng-model="number" name="number" payments-format="card" payments-validate="card"
								type="tel" id="number" required>
									<div class="cred_img2">
										<!--<img src="img/asset/visa.png">-->
									</div>
                                </div>
									<div class="col-2">
										<label>EXP</label>
										<input ng-model="expiry" name="expiry" payments-format="expiry" payments-validate="expiry"
										type="tel" id="exp" required style="width:85px;">
									</div>
                                    <div class="col-3">
                                        <label>CVC</label>
                                        <input ng-model="cvc" name="cvc" payments-format="cvc" payments-validate="cvc"
										type="tel" id="cvc" required>
                                    </div>
                                        </div>
                                        <div class="card_security">
                                        <img src="img/asset/security.png">
                                        </div>
                                            <div class="content_lower_security">
											<button class="button button-full button-custom schedule_cut fontsforweb_fontid_12950" ng-click="card(current_bid)">
											Get My Lawn Mowed
											</button>
                                            </div>
                </form>
                                    </ion-content>
                                </ion-view>
