<ion-view>
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		            <div ng-include="'templates/power.html'" ng-controller="powerCtrl"></div>


	
      </ion-nav-buttons>
    <ion-nav-title class="title_service"> Service Contested
  </ion-nav-title>
    <ion-content>
        <div class="ratethem_service">
            <br/>
            <div class="image_service">
                <img src="img/asset/notifications_03.png">
                </div>
                <div class='new_serv_colr'>
                    <font class="wght_font">{{homeowners.name}}</font> has an issue with their
                </div>
                <div class='service_color'>
                    <h3>  {{ dispute_service_date | date:'EEEE'}}, {{ dispute_service_date | date:'MMMM'}} {{ dispute_service_date | date:'d'}}</h3>
                </div>
                <div class='services_color'>lawn moving that needs your attentions</div>
                <br/>
                <div class='servicing_color'>
                    <i>Your Payment is being held up until you resolve their issue.</i>
                </div>
            </div>
            <br/>
            <div class="item ratethem_service">
                <div class="imagewidthrightpart_service">
                    <div>
				{{dispute.dispute.description}}
				
                        <br>
                            <br>
                                <br>
                                    <img src="{{dispute.disputed_photo}}" style="width:100%;height:250px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a ng-href="#complaint/{{dispute.dispute.id}}" >
                                        <button class="button button-full button-balanced" style="line-height:18px;font-weight:bold;" >
				ADDRESS COMPLAINT
				</button>
                                    </a>
                                </div>
                                <div class="col">
                                    <button class="button button-full button-assertive" style="line-height:18px;font-weight:bold;" ng-click="cancel_service(dispute.dispute.id)" >
				CANCEL SERVICE
				</button>
                                </div>
                            </div>
                        </ion-content>
                    </ion-view>
