<div class="modal">
  <ion-header-bar>
    <h1 class="title">Capture signature</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSIgnatrOnce()">Close</button>
    </div>
  </ion-header-bar>
   <ion-content>
   <div class="aligncanvas"><canvas saveVal="{{ saveVal }}" value="{{ clearVal }}" id="canvas1" height="200" signature-dir=""></canvas></div>
  
   <div class="row customalign">
     <a class="col-xs-6 button button-positive " on-touch="clear()">Clear</a>
     <a class="col-xs-6 button button-positive"  ng-click="closeSIgnatrOnce()">OK</a>
   </div>
  </ion-content>

</div>