/* Empty. Add your own CSS if you like */

.pane{

background-color: #F9FCFF;
}
.error {
	color: red;
	text-align: center;
}

.button-right{

	float: right;
}
.row {
    display: block !important;
    padding: 5px;
    width: 100%;
}
.row {
    margin-left:0px;
    margin-right:0;
}
label, input, button, select, textarea{
	font-weight:normal;
}
.table-responsive{
	margin:20px 0;
}
.vehicle th{
	background:#428BCA;
	color:#fff;
}
.panel-primary {
    border-color:transparent;
}
.outer{
	box-shadow:none;
}
.name_owners {
	text-transform: capitalize;
	font-size: 16px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{

	font-weight: normal;
 }

.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
 .item-accordion.ng-hide {
  line-height: 0px;
}
 .item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}
.strip {
border: 1px solid;
padding: 5px;
margin-left: 0px;
}
.Current{

	background: #82D835;
	color: #333;
}
.Expired{

	background: red;
	color: white;
}
.Cancelled{

	background: red;
	color: white;
}
.Accident{
	background: black;
	color: white;
}
.Stolen{

	background: brown;
	color: white;
}
.Suspended{
	background: orange;
	color: white;
}
.Warning{
   background: yellow;
   color: black;

}

.Revoked{
   background: green;
   color: black;

}

.customspan {
width: 100%;
float: left;
height: 23px;
padding: 3px;
text-align: center;
}

.alignCenter {
text-align: center;
}
.custom {
	border-color: #b2b2b2;
	position: relative;
	display: inline-block;
	margin: 0;
	/* padding: 0 12px; */
	min-width: 52px;
	min-height: 47px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	vertical-align: top;
	text-align: center;
	text-overflow: inherit;
	font-size: 20px;
	line-height: 30px;
	cursor: pointer;
}
.customalign {
   margin-left: 0px !important;
   margin-bottom: 4px;
}
.big_icon {
font-size: 30px;
}

.radius{
	border-radius: 10px;
}

.customback{

	background-color: #fff !important;
	padding: 10px 0 !important;
}
.customactive{

	background-color: #4a87ee !important;
}
.container_all {
   /* border: 1px solid #4A87EE;
    border-radius: 6px;
    padding: 2px;*/
    font-size: 16px;
}
.container_head {
width: 100%;
background-color: #4A87EE;
/* min-height: 40px; */
text-align: center;
font-size: 20px;
border-radius: 2px;
padding: 6px;
color: #F9FCFF;
margin-bottom: 5px;
}
.margincustom{

	margin-top: 5px;
}

.col-head-value{
  width: 20%;
  float:left;
}
.col-value-value{
  
  width: 80%;
  float: right;
   white-space: normal;
    word-break: keep-all;
}
.col-head{
  width: 30%;
  float:left;
}
.col-value{
  
  width: 70%;
  float: right;
   white-space: normal;
    word-break: keep-all;
}
.col-value-reg {
    width: 56%;
    float: right;
    white-space: normal;
    word-break: keep-all;
}

.col-head-reg{
	width: 44%;
	float: left;

}
.col-value-vel{
  width: 77%;
  float: right;
  white-space: normal;
  word-break: keep-all;
}

.col-head-vel{
  width: 20%;
  float: left;

}
.panel-body .message:first-child {
    margin-top: 0px;
    border: medium none;
}
.message {
    padding: 10px 0px 0px;
    border-top: 1px solid #EFEFEF;
    margin-top: 10px;
}
.name {
    color: #666;
    font-size: 12px;
    font-weight: bold;
}
.charges {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    float: left;
    margin-top: -12px;
    padding: 20px 0 10px;
    width: 100%;
    font-size: 16px;
}
.row.driver_detail{
	margin:0;
	padding:0;
}
.driver_detail .col-xs-6{
	margin:0;
	padding:0;
}
.margintop{
  margin-top: 10px !important;
}

.item-content , .item-toggle{
  white-space: normal; 
}

.popup-buttons .button:first-child {
   margin-left: 14px;
}
.popup-buttons .button {
   margin: 2px 14px;

}

.btn{
  font-size: 16px  !important;
}
/*===========================11-09-14*/
.col-xs-12.full {
    margin: 0;
    padding: 0;
}
.section.container-fluid.tabsb {
    padding: 0 5px;
}
.section.container-fluid.tabsb, .btn-group.justified.nav-tabs{
	width:100%;

}
.section.container-fluid.tabsb .btn {
   
    padding: 6px 0;

    width: 33.333% !important;
}
/*=======================================================*/
.customalign .issue_btn {
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-size: 20px;
    font-weight: normal;
    height: 63px;
    line-height: 23px;
    margin-left: 6px;
    padding: 10px;
    text-align: center;
    width: 48%;
}

.green{
	background:#82D835;
}
.yellow{
	background:#cc2311;
	
}
.blue{
	background:#4A87EE
}
.blue .ion-camera {
    font-size: 56px;
}

.panel-body {

 padding: 0px !important;

  }

.customfine{
  padding: 20px 0px 0px 0px !important;
  font-size: 18px !important;
 

  }

  .chats li.in .message {
    text-align: left;
    border-left: 2px solid #1BBC9B;
    margin-left: 65px;
    background: #fafafa;
}

.chats li .message {
display: block;
padding: 5px;
position: relative;
}
.chats li.in .message .arrow {
display: block;
position: absolute;
top: 5px;
left: -8px;
width: 0;
height: 0;
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-right: 8px solid #1BBC9B;
}

.chats li .name {
color: #3590c1;
font-size: 13px;
font-weight: 400;
}

.chats li .datetime {
color: #333;
font-size: 13px;
font-weight: 400;
}
.chats li .body {
display: block;
}

canvas#canvas1 {
border: 2px solid #DBE1EB;
border-radius: 2px;
padding: 10px;
width: 400px;
height: 242px;
text-align: center;
}
.logoatsuccess {
width: 100%;
text-align: center;
}

.tab-item .icon {

font-size: 40px !important;
}

.big_icon_view {
font-size: 20px;
}
.button-small{
font-size: 16px !important;

}
.button.button-stable {
border-color: white;
background-color: #f8f8f8;
color: #444;
}

#logosuccess{

  height: 200px;
}
.aligncanvas {
text-align: center;
}

#printdata h2{
  font-size: 18px;
  font-weight:bold;
}
#printdata h4{
  font-size: 12px;
  font-weight: bold;
}
#printdata p{
  font-size: 12px;
}

