<ion-side-menus>

  <ion-pane ion-side-menu-content>
   
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-c"></i></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click= "go('/app/dashboard')">
          Dashboard
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "go('/app/fines')">
          Fine Search
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "go('/app/messages')">
         Messages
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
 